@{
    ViewBag.Title = "Katılımcı Listesi";
}

<main class="text-center">
<h1>Toplantı Katılım Listesi</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Email</th>
            <th>Katılım</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Barbaros CİGA</td>
            <td>barbarosc@xmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Erkin Tekin</td>
            <td>et@yahoo.com</td>
            <td>Evet</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detay</a>
            </td>
        </tr>
    </tbody>
</table>
</main>